<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.choa.s4.member.memberUser.MemberUserDAO">
	<update id="setMemberUpdate" parameterType="MemberDTO">
		update member_1 set name=#{name} where id=#{id}
	</update>

	<select id="getMemberLogin" parameterType="MemberDTO" resultType="MemberUserDTO">
		select * from member_1 where id=#{id} and pw=#{pw}
	</select>
	
	<delete id="setMemberDelete" parameterMap="MemberDTO">
		delete from member_1 where id=#{id}
	</delete>
	
	<insert id="setMemberJoin" parameterType="MemberDTO">
		insert into member_1 values(member_1_seq.nextval, #{id}, #{pw}, #{name})
	</insert>
	
	
</mapper>